@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
section,
header {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  justify-content: space-between;
  padding: 1rem 7.5%;
  background-color: rgb(49, 49, 49);
}

.search-bar {
  border: 1px solid grey;
  border-radius: 0.25rem;
  overflow: hidden;
}

.search-bar > button,
.search-bar > input {
  height: 2rem;
  border: none;
}

header > button,
.search-bar > button {
  padding: 0 0.75rem;
  font-weight: 500;
}

.content {
  width: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.icon-current {
  height: 8rem;
}

.condition {
  text-transform: capitalize;
}

.wrapper {
  gap: 0.5rem;
}

.ht-1 {
  height: 1rem;
}

.blue {
  color: rgb(17, 164, 255);
}

.center-text {
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
}

h1,
.condition,
.temps,
.current-temp,
.hourly-container,
.daily-container {
  font-family: 'Roboto', sans-serif;
}

.content,
.hourly-container {
  gap: 1.5rem;
}

.current-temp {
  font-size: 5rem;
}

.hourly-container {
  width: 100%;
  overflow-x: scroll;
  font-size: 0.9rem;
}

.hourly-icon {
  height: 3rem;
}

.above {
  max-width: 85%;
  gap: 2rem;
  padding-top: 2rem;
  /* overflow-x: scroll; */
  align-items: center;
  flex-direction: column;
}

.below {
  max-width: 100%;
  justify-content: center;
}

.single-hour-wrapper {
  gap: 1rem;
}

.single-day-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.daily-container {
  width: 80%;
  font-size: 0.9rem;
}

.daily-weather-desc {
  display: none;
}

@media screen and (min-width: 450px) {
  .above {
    flex-direction: row;
  }

  .daily-container,
  .hourly-container {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 700px) {
  .single-day-wrapper {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
  }

  .header-daily-weather {
    padding-left: 3rem;
  }

  .daily-weather-desc {
    display: block;
  }
}
