@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.icon-current {
  height: 8rem;
}

.condition {
  text-transform: capitalize;
}

.wrapper {
  gap: 0.5rem;
}

.ht-1 {
  height: 1rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
}

h1,
.condition,
.temps,
.current-temp,
.hourly-container {
  font-family: 'Roboto', sans-serif;
}

.content,
.hourly-container {
  gap: 1.5rem;
}

.current-temp {
  font-size: 5rem;
}

.hourly-container {
  overflow-x: scroll;
}

.hourly-icon {
  height: 3rem;
}

body,
.content {
  width: min(100%, 800px);
}

.above {
  max-width: 85%;
  gap: 5rem;
  overflow-x: scroll;
  align-items: center;
}

.single-hour-wrapper {
  /* border: 1px solid red; */
}
